body {
    background: url(images/hegyek.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*szelesseg 500
felso eltartas 170
kozepen
belso eltartas oldal 75 és alsó 30
*/

.box {
    box-sizing: border-box;
    width: 500px;
    margin: 170px auto 0px;
    padding: 130px 75px 30px;
    background: linear-gradient(314deg, #949FCB 0%, #FFFCDC 100%) 0% 0% no-repeat padding-box;
    position: relative;

}

/*kép 75px feljebb
pozíció absolute > dobozt is pozícionálni kell, hogy ahhoz képest legyen pozícionálva, mert különben a bodyhoz lesz*/

.avatar {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    top: -75px;
}