body {
    background: tomato;
}

/*szelesseg 500
felso eltartas 170
kozepen
belso eltartas oldal 75 és alsó 30
*/

.box {
    box-sizing: border-box;
    width: 500px;
    margin: 170px auto 140px;
    padding: 0px 75px 30px;
    background-color: lime;

}